
{% extends "blog/base.html" %}

{% block content %}


<h4>Post</h4>
	Title: {{ post.title }}<br/>
	Body: {{ post.body }}<br/>
	Date Created: {{ post.created }}<br/>
	Date Updted: {{ post.updated }}<br/><br/>

<h4>Comments</h4>
{% for com in comments %}
<br/>
	Author: {{ com.author }}<br/>
	Body: {{ com.body }}<br/>
	Date Created: {{ com.created }}<br/>
	Date Updated: {{ com.updated }}<br/>
{% if user == com.author %}
<div>
	<a href="/blog/comments/{{ com.id }}/edit">Edit Comment</a>
</div><br/><br/>
{% endif %}
{% endfor %}

{% if user != 'AnonymousUser' %}
<h3>New comment:</h3>
<div>
	<form method='post' action="">
	{{ form.as_p }}
	<input type='submit' name='Submit'>
	</form>
</div>
{% endif %}

{% endblock %}
